/*
My Portfolio css
Author Paul McMahon
*/

/* CSS definitions for the wrapping div */
.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

#map_canvas{
    height: 500px; 
    width: 500px;
}